/*BASE STYLES*/

.success{
	background-color: #23d160;
}
.primary{
	background-color: #00d1b2;
}
.icon{
	margin:20px;
}

body{
	box-sizing: border-box;
	font-size: 16px;
	margin:0;
	padding:0;
	border:0;
    font-family: 'Quicksand', sans-serif;
}
.hero{
	height: 100vh;
}
.line-height{
	line-height: 1.2;
	padding: 10px;
}
#video{
	height: 300px;
	width: 100%;
	border: 1px solid #eee;
}
/*HOME HERO START*/
.background-img{
	background: url('../images/hero-bg.jpg') no-repeat;
	height: auto;
	width: 100%;
	background-size: cover;
}
/*HOME HERO END*/

/*SECTION 2 START*/
 #home-img{
 	width: 100%;
 	height: 500px;
 }
/*SECTION 2 END*/

/*ACADEMY START*/
.academy-background-img{
	background: url('../images/academy-bg.jpg') center no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
}
/*ACADEMY END*/

/*GALLERY START*/
.gallery-background-img{
	background: url('../images/gallery-bg.jpg') center bottom no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
}
/*GALLERY END*/

/*PROGRAMME START*/
.programme-background-img{
	background: url('../images/programme-bg.jpg') center bottom no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
}
/*PROGRAMME END*/

/*FAQ START*/
.faq-background-img{
	background: url('../images/faq-bg.jpg') center no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
}
/*FAQ END*/

/*FOOTER START*/
.footer-img{
	background: url('../images/footer3.png') center no-repeat;
	width: 100%;
	background-size: cover;
	border-top: 3px solid #333;
}
#map-tile{
}
.footer a{
	text-decoration: none;
	color: white;
}
.footer a:hover{
	color: #00d1b2;
}
/*FOOTER END*/

/*RESPONSIVE CODE*/



/*Mobile View*/
@media(max-width: 900px;){
	#video{
		height: 100%;
	}
}

@media(max-width: 500px){
	#home-img{
		height: auto;
	}
}