/*BASE STYLES*/

body{
	box-sizing: border-box;
	font-size: 16px;
	margin:0;
	padding:0;
	border:0;
    font-family: 'Quicksand', sans-serif;
}
.hero{
	height: 100vh;
}
.line-height{
	line-height: 1.2;
	padding: 10px;
}
.is-size-1{
	font-size: 4em !important;
}
#video{
	height: 300px;
	width: 100%;
	border: 1px solid #eee;
}

.background-img{
	background: url('../images/hero-bg.jpg') no-repeat;
	height: auto;
	width: 100%;
	background-size: cover;
}

.footer-img{
	background: url('../images/footer3.png') center no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
	border-top: 3px solid #333;
}

/*SECTION 2 START*/

.section2{
	height: auto;
	padding: 10px;
}

/*SECTION 2 END*/

/*RESPONSIVE CODE*/

@media(min-width: 1024px){
	#logo{
		top: -10px;

	}
}

/*Mobile View*/
@media(max-width: 900px;){
	#video{
		height: 100%;
	}
}